.erroMsg{
    color: rgb(239,0,3);
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 968px) {
    /* For mobile phones: */
    [class*="col-"] {
        min-width: 100%;
    }
}

@media only screen and (max-width: 300px) {
    /* For mobile phones: */
    [class*="col-"] {
        min-width: 100%;
    }
}

.c-req{
    color: rgb(239,0,3);
    padding-right: 3px;
}